html,
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

/* ========================= Background ========================= */
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #000000, #1a0033);
  z-index: -1;
}

.mist {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIj48ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjc1IiBzdGl0Y2hUaWxlcz0ic3RpdGNoIi8+PGZlQ29sb3JNYXRyaXggdmFsdWVzPSIwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwLjEgMCIvPjwvZmlsdGVyPjxyZWN0IHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIiBmaWx0ZXI9InVybCgjYSkiLz48L3N2Zz4=");
  opacity: 0.3;
  animation: mistAnimation 60s linear infinite;
}

@keyframes mistAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}

.symbol {
  position: absolute;
  font-size: 24px;
  color: rgba(255, 0, 0, 0.6);
  pointer-events: none;
  transition: all 0.3s ease;
}

.content {
  position: relative;
  z-index: 1;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

/* ========================= Navbar ========================= */
.navbar {
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 1200px;
  border-radius: 50px;
  z-index: 1000;
  display: flex;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
}
.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #4a4a4a;
}
.navbar-menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
}
.navbar-item {
  margin-left: 20px;
  position: relative;
}
.navbar-link {
  color: #4a4a4a;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}
.navbar-link:hover {
  color: #3273dc;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 4px;
}
.dropdown-content a {
  color: #4a4a4a;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.navbar-item:hover .dropdown-content {
  display: block;
}
.nested-dropdown {
  position: relative;
}
.nested-dropdown-content {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: white;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 4px;
}
.nested-dropdown:hover .nested-dropdown-content {
  display: block;
}
.navbar-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .navbar {
      border-radius: 0;
      top: 0;
      left: 0;
      width: 100%;
      transform: none;
  }
  .navbar-container {
      flex-wrap: wrap;
  }
  .navbar-menu {
      display: none;
      flex-direction: column;
      width: 100%;
      padding: 10px 0;
  }
  .navbar-menu.active {
      display: flex;
  }
  .navbar-item {
      margin: 10px 0;
  }
  .navbar-toggle {
      display: block;
      order: 1;
  }
  .navbar-logo {
      order: 0;
  }
  .dropdown-content, .nested-dropdown-content {
      position: static;
      box-shadow: none;
      display: none;
      padding-left: 20px;
  }
  .dropdown-content.active, .nested-dropdown-content.active {
      display: block;
  }
}
/* ========================= Banner ========================= */

.container-banner {
  width: 100%;
  justify-content: center;
  text-align: center;
  margin-top: 5%;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 5%;
}

.container-banner h1 {
  text-align: center;
  font-size: 2.5rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(229, 241, 8, 0.84);
}
/* ========================= Logo Banner ========================= */

.container-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  font-size: 2rem;
  position: relative;
  overflow: hidden;
  width: 50%;
}

.container-img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; /* Ajusta la imagen para que cubra todo el contenedor */
}

/* ========================= Texto Banner ========================= */

.banner-text1,
.banner-text2 {
  color: white;
  text-align: center;
}

.banner-text1 {
  font-size: 1.2rem;
}

.banner-text2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.container-text {
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-left: 0.5%;
}

.banner-subtitle {
  font-size: 2rem;
  color: #d4af37;
  text-align: center;
}

.highlight {
  font-weight: bold;
  font-size: 1.5em;
  color: #d4af37;
  text-shadow: 2px 2px 4px rgba(229, 241, 8, 0.84);
  display: inline-block;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.banner-text2 {
  font-weight: bold;
  text-align: center;
}

.item-opcion {
  color: white !important;
}

/* ========================= Boton Banner ========================= */

.spell-book-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spell-book {
  margin-left: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 70%;
  height: 50px;
  background: linear-gradient(45deg, #4a0e4e, #81236b);
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 0 0 20px rgba(129, 35, 107, 0.5);
}

.spell-book:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 30px rgba(129, 35, 107, 0.8);
}

.spell-book::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(
    circle,
    transparent 20%,
    rgba(255, 255, 255, 0.1) 20%,
    rgba(255, 255, 255, 0.1) 80%,
    transparent 80%
  );
  animation: sparkle 4s linear infinite;
}

@keyframes sparkle {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.spell-book-text {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.magical-aura {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at center,
    transparent,
    rgba(255, 255, 255, 0.1)
  );
  opacity: 0;
  transition: opacity 0.3s ease;
}

.spell-book:hover .magical-aura {
  opacity: 1;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.runes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0.3;
}

.rune {
  position: absolute;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
}

/* ========================= Seccion brujos ========================= */
.container-section {
  margin-top: 3%;
}

.container-information {
  display: flex;
  text-align: center;
  align-items: center;
  margin-top: 4%;
}

.text-container h2,
p {
  color: white;
  text-align: center;
}

.text-container h2 {
  text-shadow: 2px 2px 4px rgba(241, 66, 8, 0.84);
}

.text-container p {
  font-size: 1.2rem;
  margin: 3%;
  text-align: justify;
}

.text-container hr {
  width: 60%;
  height: 4px;
  margin: 0 auto;
  background-color: #ec2a08;
  border: 1px solid tomato;
  transition: border-color 0.5s ease;
  cursor: pointer;
}

.text-container hr:hover {
  width: 60%;
  height: 4px;
  margin: 0 auto;
  background-color: brown;
}

.pareja {
  margin-top: 5%;
  max-width: 300px;
  max-width: 300px;
  position: relative;
  border-radius: 10%;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.784);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.pareja:hover {
  transform: scale(1.05); /* Aumenta ligeramente el tamaño */
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.784); /* Agrega una sombra más pronunciada */
}

.brujos {
  margin-bottom: 10%;
  margin-left: 3%;
  width: 500px;
  height: 400px;
  position: relative;
  border-radius: 10%;
  box-shadow: 0 0 20px rgba(129, 35, 107, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.brujos:hover {
  transform: scale(1.05); /* Aumenta ligeramente el tamaño */
  box-shadow: 0 0 20px rgba(129, 35, 107, 0.5); /* Agrega una sombra más pronunciada */
}

.text-info {
  position: relative;
  margin: 10px 60px;
}

.text-info p {
  color: whitesmoke;
  font-size: 1.2rem;
  text-align: justify;
  margin-bottom: 10%;
}

.text-witch {
  color: white;
  text-align: center;
  text-shadow: 3px 5px 5px rgba(175, 11, 220, 0.685);
}

.container-witchcraft {
  margin-top: 5%;
}
/* ========================= testimonios brujos ========================= */

.container-testimonios {
  margin-top: 4%;
}

.container-testimonios h1,
p {
  color: white;
  text-align: center;
}

.container-testimonios h1 {
  text-shadow: 2px 2px 4px rgba(241, 66, 8, 0.84);
}

.container-testimonios p {
  font-size: 1.2rem;
  margin: 3%;
  text-align: justify;
}

/* ========================= carousel ========================= */
.carousel-video-container {
  display: flex;
  padding: 10px 40px;
}

.carousel-video-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ajusta según tus necesidades */
}

.carousel-container {
  margin-left: 10%;
  margin-top: 5%;
  width: 300px;
  height: 400px;
  position: relative;
  perspective: 1000px;
}

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.carousel img {
  margin-top: 10%;
}

.carousel p {
  padding: 10px 40px;
  color: white;
  font-size: 10px;
}

.item {
  position: absolute;
  width: 280px;
  height: 380px;
  background-color: #16213e;
  border: 2px solid #e94560;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  backface-visibility: hidden;
  box-shadow: 0 0 20px rgba(233, 69, 96, 0.5);
}

.item img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}
.nav {
  margin-left: 13%;
  text-align: center;
  margin-top: 28px;
}
.nav button {
  background-color: #a30000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}
.nav button:hover {
  background-color: #c73e54;
}

/* ========================= Video ========================= */

.video-testimonio {
  margin: 0 15px; /* Ajusta según tus necesidades */
  width: 300px; /* Ajusta según tus necesidades */
  height: auto;
  object-fit: cover;
  position: relative; /* Cambia de fixed a relative */
  margin-right: 27%;
}

.video-testimonio video {
  width: 600px;
  height: auto;
  border: 2px solid #ccc; /* Opcional: agrega un borde al video */
  border-radius: 5px; /* Opcional: agrega bordes redondeados */
}

/* ========================= Agradecimientos ========================= */

.agradecimientos {
  margin-top: 10%;
}

.row img {
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.img-fluid {
  margin-left: 15%;
}

.agradecimientos h1,
p {
  color: white;
  text-align: center;
}

.agradecimientos h1 {
  text-shadow: 2px 2px 4px rgba(241, 66, 8, 0.84);
}

.agradecimientos p {
  font-size: 1.2rem;
  text-align: center;
}

/* ========================= Contacto ========================= */

.contact-info {
  margin-top: 8%;
}

.contact-text1 h1,
.contact-text2 h1,
p {
  color: white;
  text-align: center;
}

.strong {
  color: #d4af37;
  text-shadow: 0 0 4px rgba(229, 241, 8, 0.84);
}

.contact-text1 h1 {
  font-size: 1.8rem;
}

.contact-text2 p {
  margin-top: 4%;
  font-size: 1.2rem;
}

.contact-item {
  margin-top: 5%;
  margin-left: 30%;
}

/* ========================= Footer ========================= */

.content {
  flex: 1;
}

.copyright a {
  color: #9c27b0;
  text-decoration: none;
}

footer {
  background-color: hsl(271, 100%, 10%);
  color: #e0e0e0;
  padding: 20px 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.footer-content {
  position: relative;
  z-index: 1;
}

.footer-links {
  margin-bottom: 10px;
}

.footer-links a {
  color: #9c27b0;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #e1bee7;
}

.copyright {
  font-size: 0.9em;
  color: #757575;
}

.magical-stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.star {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0;
  animation: twinkle 3s infinite;
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/* ========================= Boton flotante whatsapp ========================= */

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: white;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  transition: all 0.3s ease;
  animation: pulse 1.5s infinite;
}

.whatsapp-button:hover {
  transform: scale(1.1);
  box-shadow: 3px 3px 5px #888;
}

.whatsapp-button svg {
  width: 36px;
  height: 36px;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.5);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(37, 211, 102, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0);
  }
}
