html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

/* ========================= Background ========================= */
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #000000, #2e0105f0);
  z-index: -1;
}

.mist {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIj48ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjc1IiBzdGl0Y2hUaWxlcz0ic3RpdGNoIi8+PGZlQ29sb3JNYXRyaXggdmFsdWVzPSIwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwLjEgMCIvPjwvZmlsdGVyPjxyZWN0IHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIiBmaWx0ZXI9InVybCgjYSkiLz48L3N2Zz4=");
  opacity: 0.3;
  animation: mistAnimation 60s linear infinite;
}

@keyframes mistAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}

.symbol {
  position: absolute;
  font-size: 24px;
  color: rgba(255, 0, 0, 0.6);
  pointer-events: none;
  transition: all 0.3s ease;
}

.content {
  position: relative;
  z-index: 1;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

/* ========================= Cards ========================= */
.container-info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  margin: 30px;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  max-width: 800px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.card {
  background: linear-gradient(145deg, #2a2a2a, #1a1a1a);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  aspect-ratio: 3 / 4;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 5px;
}
.card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 12px 24px rgba(180, 16, 16, 0.4);
}
.card img {
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.card:hover img {
  transform: scale(1.1);
  max-height: 500px;

}
.card-content {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  transform: translateY(100%);
  transition: transform 0.3s ease;
}
.card:hover .card-content {
  transform: translateY(0);
}
h2 {
  font-size: 1.3em;
  margin: 0 0 10px;
  color: white;
  text-shadow: 2px 1px 10px #f30000;
}
p {
  font-size: 0.9em;
  margin: 0;
  color: #ecf0f1;
}
.glow {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(223, 129, 103, 0.4) 0%, rgba(138, 43, 226, 0) 70%);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}
.card:hover .glow {
  opacity: 1;
}
.sparkle {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: white;
  pointer-events: none;
  animation: sparkle-animation 1s forwards;
}
@keyframes sparkle-animation {
  0% {
      opacity: 1;
      transform: scale(0);
  }
  100% {
      opacity: 0;
      transform: scale(1);
  }
}

/* ========================= Texto ========================= */

.container-text h2{
  font-size: 2em;
  color: #ffffff;
  margin: 20px;
  text-align: center;
  text-shadow: 2px 4px 4px #930505;
}

.container-text p{
  font-size: 1.1em;
  color: #ffffff;
  margin: 20px;
  text-align: justify;
}

hr{
  border: 0;
  height: 1px;
  background: #ffffff;
  background-image: linear-gradient(to right, #423939, #930505, #423636);
  margin: 20px;
}

.highlight, .highlight-text{
  color: #d4af37;
}

.highlight-text{
  font-size: 1.4em;
  text-shadow: 2px 1px 10px #e1e500;
}


@media (max-width: 768px) {
/* ========================= Card ======================= */
  .container {
    grid-template-columns: 1fr;
  }

  .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .card:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 12px 24px rgba(180, 16, 16, 0.4);
  }

  .card img {
    transition: transform 0.3s ease;
  }

  .card:hover img {
    transform: scale(1.1);
  }

  .card-content {
    transition: transform 0.3s ease;
  }

  .card:hover .card-content {
    transform: translateY(0);
  }

  .glow {
    transition: opacity 0.3s ease;
  }

  .card:hover .glow {
    opacity: 1;
  }

/* ========================= Texto ========================= */

  .container-text{
    padding: 1px;
    margin-top: 0;
  }

  .container-text h2{
    font-size: 1.4em;
    text-align: center;
  }

  .container-text p{
    font-size: 1em;
  }

  .highlight-text{
    font-size: 1.2em;
  }

  hr{
    margin: 10px;
  }

}

@media (max-width: 480px) {

/* ========================= Card ======================= */

  .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .card:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 12px 24px rgba(180, 16, 16, 0.4);
  }

  .card img {
    transition: transform 0.3s ease;
  }

  .card:hover img {
    transform: scale(1.1);
  }

  .card-content {
    transition: transform 0.3s ease;
  }

  .card:hover .card-content {
    transform: translateY(0);
  }

  .glow {
    transition: opacity 0.3s ease;
  }

  .card:hover .glow {
    opacity: 1;
  }

  p{
    font-size: 0.8em;
  }

/* ========================= Texto ========================= */

.container-text{
  padding: 1px;
  margin-top: 0;
}

.container-text h2{
  font-size: 1.4em;
  text-align: center;
}

.container-text p{
  font-size: 1em;
}

.highlight-text{
  font-size: 1.2em;
}

hr{
  margin: 10px;
}
}