html,
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

/* ========================= Background ========================= */
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #000000, #1a0033);
  z-index: -1;
}

.mist {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIj48ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjc1IiBzdGl0Y2hUaWxlcz0ic3RpdGNoIi8+PGZlQ29sb3JNYXRyaXggdmFsdWVzPSIwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwLjEgMCIvPjwvZmlsdGVyPjxyZWN0IHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIiBmaWx0ZXI9InVybCgjYSkiLz48L3N2Zz4=");
  opacity: 0.3;
  animation: mistAnimation 60s linear infinite;
}

@keyframes mistAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}

.symbol {
  position: absolute;
  font-size: 24px;
  color: rgba(255, 0, 0, 0.6);
  pointer-events: none;
  transition: all 0.3s ease;
}

.content {
  position: relative;
  z-index: 1;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

/* ========================= Container ========================= */

.title{
    color: #e2e603ae;
    text-shadow: 0 0 30px rgb(229, 245, 2);
    font-size: 1.8em;
}

.container p{
    margin-top: 2%;
    color: white;
    align-items: justify;
}

.container h1{
    color: #9d9696ed;
    font-size: 1.8em;
    margin-top: 20px;
    text-shadow: 0 0 30px rgba(245, 2, 2, 0.921);
}


/* ========================= Footer========================= */


.content {
    flex: 1;
  }
  
  .copyright a {
    color: #9c27b0;
    text-decoration: none;
  }
  
  footer {
    background-color: hsl(271, 100%, 10%);
    color: #e0e0e0;
    padding: 20px 0;
    text-align: center;
    position: relative;
    overflow: hidden;
  }
  
  .footer-content {
    position: relative;
    z-index: 1;
  }
  
  .footer-links {
    margin-bottom: 10px;
  }
  
  .footer-links a {
    color: #9c27b0;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
  }
  
  .footer-links a:hover {
    color: #e1bee7;
  }
  
  .copyright {
    font-size: 0.9em;
    color: #757575;
  }
  
  .magical-stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  
  .star {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0;
    animation: twinkle 3s infinite;
  }
  
  @keyframes twinkle {
    0%,
    100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  