body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden; /* Prevent horizontal overflow */
}
/* ========================= Background ========================= */
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #000000, #2e0105f0);
  z-index: -1;
}

.mist {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIj48ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjc1IiBzdGl0Y2hUaWxlcz0ic3RpdGNoIi8+PGZlQ29sb3JNYXRyaXggdmFsdWVzPSIwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwLjEgMCIvPjwvZmlsdGVyPjxyZWN0IHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIiBmaWx0ZXI9InVybCgjYSkiLz48L3N2Zz4=");
  opacity: 0.3;
  animation: mistAnimation 60s linear infinite;
}

@keyframes mistAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}

.symbol {
  position: absolute;
  font-size: 24px;
  color: rgba(255, 0, 0, 0.6);
  pointer-events: none;
  transition: all 0.3s ease;
}

.content {
  position: relative;
  z-index: 1;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

/* ========================= Banner ========================= */

.container-banner {
  width: 100%;
  justify-content: center;
  text-align: center;
}

.banner {
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 5%;
}

.division-banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-title h1 {
  text-align: center;
  font-size: 2.5rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(229, 241, 8, 0.84);
}

/* ========================= Logo Banner ========================= */

.container-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  font-size: 2rem;
  position: relative;
  overflow: hidden;
  width: 30%;
}

.container-img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; /* Ajusta la imagen para que cubra todo el contenedor */
}

/* ========================= Texto Banner ========================= */

.banner-text1,
.banner-text2 {
  color: white;
  text-align: center;
}

.banner-text1 {
  font-size: 1.2rem;
  text-align: justify;
}

.banner-text2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 2%;
}

.container-text {
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-left: 0.5%;
}

.banner-subtitle {
  font-size: 2rem;
  color: #d4af37;
  text-align: center;
}

.highlight {
  font-weight: bold;
  font-size: 1.5em;
  color: #d4af37;
  text-shadow: 2px 2px 4px rgba(229, 241, 8, 0.84);
  display: inline-block;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.banner-text2 {
  font-weight: bold;
  text-align: center;
}

.item-opcion {
  color: white !important;
}

/* ========================= Boton Banner ========================= */

.spell-book-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

.spell-book {
  margin-left: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 70%;
  height: 50px;
  background: linear-gradient(45deg, #4a0e4e, #81236b);
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 0 0 20px rgba(129, 35, 107, 0.5);
}

.spell-book:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 30px rgba(129, 35, 107, 0.8);
}

.spell-book::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(
    circle,
    transparent 20%,
    rgba(255, 255, 255, 0.1) 20%,
    rgba(255, 255, 255, 0.1) 80%,
    transparent 80%
  );
  animation: sparkle 4s linear infinite;
}

@keyframes sparkle {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.spell-book-text {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.magical-aura {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at center,
    transparent,
    rgba(255, 255, 255, 0.1)
  );
  opacity: 0;
  transition: opacity 0.3s ease;
}

.spell-book:hover .magical-aura {
  opacity: 1;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.runes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0.3;
}

.rune {
  position: absolute;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
}

/* ========================= Seccion brujos ========================= */

.container-section {
  margin-top: 3%;
}

.container-information {
  display: flex;
  text-align: center;
  align-items: center;
  margin-top: 4%;
}

.text-container h2,
p {
  color: white;
  text-align: center;
}

.text-container h2 {
  text-shadow: 2px 2px 4px rgba(241, 66, 8, 0.84);
}

.text-container p {
  font-size: 1.2rem;
  margin: 3%;
  text-align: justify;
}

.text-container hr {
  width: 60%;
  height: 3px;
  margin: 0 auto;
  border: 0;
  background: #ffffff;
  background-image: linear-gradient(to right, #423939, #930505, #423636);
}

.pareja {
  margin-top: 5%;
  max-width: 300px;
  max-width: 300px;
  position: relative;
  border-radius: 10%;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.784);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pareja:hover {
  transform: scale(1.05); /* Aumenta ligeramente el tamaño */
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.784); /* Agrega una sombra más pronunciada */
}

.brujos {
  margin-bottom: 10%;
  margin-left: 3%;
  width: 500px;
  height: 400px;
  position: relative;
  border-radius: 10%;
  box-shadow: 0 0 20px rgba(129, 35, 107, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.brujos:hover {
  transform: scale(1.05); /* Aumenta ligeramente el tamaño */
  box-shadow: 0 0 20px rgba(129, 35, 107, 0.5); /* Agrega una sombra más pronunciada */
}

.text-info {
  position: relative;
  margin: 10px 60px;
  width: 35%;
}

.text-info p {
  color: whitesmoke;
  font-size: 1.2rem;
  text-align: justify;
  margin-bottom: 10%;
}

.text-witch {
  color: white;
  text-align: center;
  text-shadow: 3px 5px 5px rgba(175, 11, 220, 0.685);
}

.container-witchcraft {
  margin-top: 5%;
}
/* ========================= testimonios brujos ========================= */

.container-testimonios {
  margin-top: 4%;
}

.container-testimonios h1,
p {
  color: white;
  text-align: center;
}

.container-testimonios h1 {
  text-shadow: 2px 2px 4px rgba(241, 66, 8, 0.84);
}

.container-testimonios p {
  font-size: 0.8rem;
  margin: 5%;
  text-align: justify;
}

/* ========================= carousel ========================= */

.carousel-video-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly; /* Ajusta según tus necesidades */
}

.carousel-container-commands{
  display: flex;
  flex-direction: column;
  margin: auto;
}

.carousel-container {
  width: 300px;
  height: 400px;
  position: relative;
  perspective: 1000px;
}
.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}
.item {
  position: absolute;
  width: 280px;
  height: 400px;
  background-color: #16213e;
  border: 2px solid #e94560;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  backface-visibility: hidden;
  box-shadow: 0 0 20px rgba(233, 69, 96, 0.5);
}
.item img {
  width: 100px;
  height: 100px;
}
.button-nav {
  text-align: center;
  margin-top: 25%;
}
.button-nav button {
  background-color: #e94560;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}
.button-nav button:hover {
  background-color: #c73e54;
}
/* ========================= Video ========================= */

.video-testimonio {
  margin: 0 15px; /* Ajusta según tus necesidades */
  width: 300px; /* Ajusta según tus necesidades */
  height: auto;
  object-fit: cover;
  position: relative; /* Cambia de fixed a relative */
  margin-right: 27%;
}

.video-testimonio video {
  width: 600px;
  height: auto;
  border: 2px solid #ccc; /* Opcional: agrega un borde al video */
  border-radius: 5px; /* Opcional: agrega bordes redondeados */
}

/* ========================= Agradecimientos ========================= */

.agradecimientos {
  margin-top: 10%;
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.agradecimientos h1,
p {
  color: white;
  text-align: center;
}

.agradecimientos h1 {
  text-shadow: 2px 2px 4px rgba(241, 66, 8, 0.84);
}

.agradecimientos p {
  font-size: 1.2rem;
  text-align: center;
}

.container-agradecimiento {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.card {
  background: linear-gradient(145deg, #2a2a2a, #1a1a1a);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 350px;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(138, 43, 226, 0.4);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scale(1.1);
}

.card-content {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  transform: translateY(100%);
  transition: transform 0.3s ease;
}

.card:hover .card-content {
  transform: translateY(0);
}

h2 {
  font-size: 1.5em;
  margin: 0 0 10px;
  color: #9b59b6;
}

p {
  font-size: 1em;
  margin: 0;
  color: #ecf0f1;
}

.glow {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(
    circle,
    rgba(138, 43, 226, 0.4) 0%,
    rgba(138, 43, 226, 0) 70%
  );
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.card:hover .glow {
  opacity: 1;
}

/* ========================= Contacto ========================= */

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  flex-direction: column;
}

.contact-text1 h1,
.contact-text2 h1,
p {
  color: white;
  text-align: center;
}

.strong {
  color: #d4af37;
  text-shadow: 0 0 4px rgba(229, 241, 8, 0.84);
}

.contact-text1 h1 {
  font-size: 1.8rem;
}

.contact-text2 p {
  margin-top: 4%;
  font-size: 1.2rem;
}

.contact-item {
  width: 80vw;
  height: auto;
  max-width: 600px;
  padding: 20px;
  box-sizing: border-box;
}

.contact-item img {
  width: 70%;
  height: auto;
  border-radius: 10px;
}

/* ========================= MEDIA QUERY ========================= */

@media (max-width: 480px) {
  /* Banner */
  .container-section {
    padding: 10px;
    font-size: 1em;
  }
  .banner-title h1 {
    text-align: center;
    font-size: 1.7rem;
  }
  .division-banner {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .container-information {
    margin: 5px;
  }
  .container-img {
    width: 100%;
    height: auto;
  }
  .container-img img {
    width: 90%;
    height: auto;
  }
  .container-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .banner-subtitle {
    font-size: 2rem;
  }
  .banner-text1 {
    width: 90%;
    font-size: 1.4rem;
  }
  .banner-text2 {
    width: 90%;
    font-size: 1.5rem;
    margin-top: 5%;
  }
  .spell-book-container {
    width: 100%;
    justify-content: center;
  }
  .spell-book {
    width: 90%;
    margin-top: 3%;
  }
  .spell-book-text {
    font-size: 1rem;
  }
  /* ========================= Seccion brujos ========================= */
  .container-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .text-container h2 {
    width: 81%;
    text-align: justify;
    font-size: 1.8rem;
  }
  .text-container hr{
    width: 82%;
    margin-right: 20%;
  }
  .text-container p {
    width: 73%;
    font-size: 1.5rem;
    text-align: justify;
  }
  .container-witchcraft{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .text-witch{
    width: 80%;
    margin-right: 19%;
    font-size: 1.8rem;
    text-align: justify;
  }
  .container-information{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-img1, .container-img2{
    width: 100%;
    margin-right: 23%;
  }
  .container-img1 img{
    width: 90%;
    height: auto;
  }
  .text-info{
    width: 100%;
  }
  .text-info p{
    width: 76%;
    font-size: 1.5rem;
  }
  /* ========================= Testimonios ========================= */
  .container-testimonios{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-testimonios h1{
    width: 80%;
    margin-right: 19%;
    font-size: 1.8rem;
    text-align: justify;
  }
  .container-testimonios .carousel p{
    width: 85%;
    font-size: 0.7rem;
    text-align: justify;
    align-self:center;
  }

  .container-testimonios p{
    width: 76%;
    font-size: 1.5rem;
    text-align: justify;
    align-self: flex-start;
    margin:0;
  }

  .carousel-video-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25%;
  }
  .carousel-container {
    width: 250px;
    height: 400px;
    position: relative;
    perspective: 1000px;
  }

  .item {
    position: absolute;
    width: 270px;
    height: 350px;
    background-color: #16213e;
    border: 2px solid #e94560;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    box-shadow: 0 0 20px rgba(233, 69, 96, 0.5);
  }

  .button-nav {
    text-align: center;
    margin-top: 5%;
  }
  .carousel-container-commands{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 10%;
  }
  .video-testimonio {
    margin-top: 10%;
    width: 80%;
    height: auto;
    object-fit: cover;
    position: relative;
    justify-content: center;
}

.video-testimonio video {
  width: 100%;
  height: auto;
  border: 2px solid #ccc;
  border-radius: 5px;
}

  /* ========================= Agradecimientos ========================= */
  .agradecimientos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .agradecimientos h1{
    width: 85%;
    text-align: justify;
    font-size: 1.8rem;
    margin-right: 20%;
  }
  .agradecimientos p{
    width: 81%;
    font-size: 1.5rem;
    margin-right: 23%;
    text-align: justify;
  }
  .container-agradecimiento{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 19%;
  }
  /* ========================= Contacto ========================= */
  .contacto {
    margin-top: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-info{
    width: 100%;
    display: flex;
    margin-right: 20%;
  }
  .contact-text1 h1{
    text-align: justify;
    font-size: 1.8rem;
    align-items: center;
    margin: 30px;
  }
  .contact-item{
    margin-left: 21%;
  }
  .contact-text2 p{
    text-align: justify;
    font-size: 1.3rem;
    align-items: center;
    margin: 30px;
  }
  /* ========================= footer ========================= */
  footer{
    margin-top: 15%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  /* Banner */
  .container-section {
    padding: 20px;
    font-size: 1.2em;
  }
  .banner-title h1 {
    width: 98%;
    text-align: center;
    font-size: 2.5rem;
  }
  .container-information {
    margin: 10px;
  }
  .container-img {
    width: 50%;
    height: auto;
  }
  .container-img img {
    width: 100%;
    height: auto;
  }
  .container-text {
    width: 50%;
  }
  .banner-subtitle,
  .banner-text1,
  .banner-text2 {
    width: 91%;
  }
  .banner-subtitle {
    font-size: 2.7rem;
  }
  .banner-text1 {
    font-size: 1.8rem;
  }
  .banner-text2 {
    font-size: 2rem;
    margin-top: 5%;
  }
  .spell-book-container {
    width: 100%;
    justify-content: center;
  }
  .spell-book {
    width: 90%;
    margin-top: 3%;
  }
  .spell-book-text {
    font-size: 1rem;
  }
  /* ========================= Seccion brujos ========================= */
  .container-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .text-container h2 {
    width: 85%;
    text-align: center;
    font-size: 2.3rem;
  }
  .text-container hr{
    width: 81%;
    margin-right: 16%;
  }
  .text-container p {
    width: 81%;
    font-size: 2rem;
    text-align: justify;
  }
  .container-witchcraft{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .text-witch{
    width: 80%;
    margin-right: 15%;
    font-size: 2.3rem;
    text-align: justify;
  }
  .container-information{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-img1, .container-img2{
    width: 100%;
    margin-right: 14%;
  }
  .container-img1 img{
    width: 90%;
    height: auto;
  }
  .text-info{
    width: 100%;
  }
  .text-info p{
    width: 86%;
    font-size: 2rem;
  }
  /* ========================= Testimonio ========================= */
  .container-testimonios{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-testimonios h1{
    width: 85%;
    text-align: justify;
    font-size: 2.3rem;
    margin-right: 15%;
  }
  .container-testimonios p{
    width: 80%;
    font-size: 2rem;
    margin-right: 16%;
  }
  .carousel-video-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
  }
  .carousel-container{
    width: 100%;
    margin-right: 22%;
  }
  /* ========================= Agradecimientos ========================= */
  .agradecimientos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .agradecimientos h1{
    width: 90%;
    text-align: justify;
    font-size: 2.3rem;
    margin-right: 12%;
  }
  .agradecimientos p{
    width: 80%;
    font-size: 2rem;
    margin-right: 10%;
    text-align: justify;
  }
  .container-agradecimiento{
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 14%;
  }
  .card{
    width: 500px;
    height: auto;
  }
  /* ========================= Contacto ========================= */
  .contacto {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-info{
    width: 100%;
    display: flex;
    margin-right: 10%;
  }
  .contact-text1 h1{
    text-align: justify;
    font-size: 2.3rem;
    align-items: center;
    margin: 30px;
  }
  .contact-item{
    margin-left: 21%;
  }
  .contact-text2 p{
    text-align: justify;
    font-size: 2rem;
    align-items: center;
    margin: 30px;
  }
}


@media (min-width: 769px) and (max-width: 1024px) {
  /* Banner */
  .container-section {
    padding: 30px;
    font-size: 1.4em;
  }
  .banner-title h1 {
    text-align: center;
    font-size: 2.5rem;
  }
  .container-information {
    margin: 15px;
  }
  .container-img {
    width: 50%;
    height: auto;
  }
  .container-img img {
    width: 100%;
    height: auto;
  }
  .container-text {
    width: 50%;
  }
  .banner-subtitle,
  .banner-text1,
  .banner-text2 {
    width: 92%;
  }
  .banner-subtitle {
    font-size: 2.8rem;
  }
  .banner-text1 {
    font-size: 1.8rem;
  }
  .banner-text2 {
    font-size: 2rem;
    margin-top: 5%;
  }
  .spell-book-container {
    width: 96%;
    justify-content: center;
  }
  .spell-book {
    width: 100%;
    margin-top: 3%;
  }
  /* ========================= Seccion brujos ========================= */
  .container-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .text-container h2 {
    width: 90%;
    text-align: center;
    font-size: 2.3rem;
  }
  .text-container hr{
    width: 78%;
    margin-right: 15%;
  }
  .text-container p {
    width: 85%;
    font-size: 2rem;
    text-align: justify;
  }
  .container-witchcraft{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .text-witch{
    width: 80%;
    margin-right: 10%;
    font-size: 2.3rem;
    text-align: justify;
  }
  .container-information{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-img1, .container-img2{
    width: 100%;
    margin-right: 12%;
  }
  .container-img1 img{
    width: 90%;
    height: auto;
  }
  .text-info{
    width: 100%;
  }
  .text-info p{
    margin-left: 2%;
    width: 86%;
    font-size: 2rem;
  }
  /* ========================= Testimonio ========================= */
  .container-testimonios{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-testimonios h1{
    width: 90%;
    text-align: justify;
    font-size: 2.3rem;
    margin-right: 10%;
  }
  .container-testimonios p{
    width: 85%;
    font-size: 2rem;
    margin-right: 15%;
  }
  .carousel-video-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
  }
  .carousel-container{
    width: 100%;
  }
  /* ========================= Agradecimientos ========================= */
  .agradecimientos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .agradecimientos h1{
    width: 90%;
    text-align: justify;
    font-size: 2.3rem;
    margin-right: 10%;
  }
  .agradecimientos p{
    width: 80%;
    font-size: 2rem;
    margin-right: 10%;
    text-align: justify;
  }
  .container-agradecimiento{
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 14%;
  }
  .card{
    width: 500px;
    height: auto;
  }
  /* ========================= Contacto ========================= */
  .contacto {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-info{
    width: 100%;
    display: flex;
    margin-right: 10%;
  }
  .contact-text1 h1{
    text-align: justify;
    font-size: 2.3rem;
    align-items: center;
    margin: 30px;
  }
  .contact-item{
    margin-left: 21%;
  }
  .contact-text2 p{
    text-align: justify;
    font-size: 2rem;
    align-items: center;
    margin: 30px;
  }
}







@media (min-width: 1025) and (max-width: 1200px) {
  /* Banner */
  .container-section {
    padding: 40px;
    font-size: 1.6em;
  }
  .banner-title h1 {
    font-size: 2rem;
  }
  .container-information {
    margin: 20px;
  }
}

@media (max-width: 1201px) {
  /* Banner */
  .container-section {
    padding: 40px;
    font-size: 1.6em;
  }
  .banner-title h1 {
    font-size: 2rem;
  }
  .container-information {
    margin: 20px;
  }
}

/* ========================= Boton flotante whatsapp ========================= */

/* Media queries para pantallas más pequeñas */
@media (max-width: 768px) {
  .whatsapp-content {
    width: 50px; /* Ajusta el ancho en pantallas más pequeñas */
    height: 50px; /* Ajusta la altura en pantallas más pequeñas */
    bottom: 15px; /* Ajusta la posición en pantallas más pequeñas */
    right: 15px; /* Ajusta la posición en pantallas más pequeñas */
  }
}

/* Media queries para pantallas muy pequeñas */
@media (max-width: 480px) {
  .whatsapp-content {
    width: 40px; /* Ajusta el ancho en pantallas muy pequeñas */
    height: 40px; /* Ajusta la altura en pantallas muy pequeñas */
    bottom: 10px; /* Ajusta la posición en pantallas muy pequeñas */
    right: 10px; /* Ajusta la posición en pantallas muy pequeñas */
  }
}
